@import "./../../styles/colors";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 900px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundColor;
}
